* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.heading {
  max-width: 750px;
}

.overlay {
  background: rgba(39,43,54,.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

}


/* start header */
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11;
}

header .navbar-light .navbar-brand {
  display: flex;
  align-items: baseline;
}

header .navbar-light .navbar-brand i {
  font-size: 46px;
  color: #35a22c;
  margin-right: 10px;
}

header .navbar-light .navbar-brand p {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
}

header .navbar-light .navbar-nav .nav-link {
  color: white;
  transition: 0.3s;
  text-decoration: none;
  position: relative;
}

header .navbar-light .navbar-nav .nav-link::before {
  display: block;
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;

  bottom: -2px;
  background: #35a22c;
  transition: 0.3s;
}

header .navbar-light .navbar-nav .nav-link:hover:before {
  width: 100%;
}

header .navbar-light .navbar-nav .nav-link:hover {
  color: #35a22c;
}

header .navbar-light .navbar-nav .active > .nav-link {
  color: #35a22c;
}

header .navbar-light .navbar-nav .active > .nav-link::before {
  width: 100%;
}

/* end header */

/* start carousel */

.carousel__bg {
  height: 100vh;

  object-fit: cover;
}
#carousel .carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#carousel .carousel-caption {
  bottom: 30%;
}

#carousel .carousel-item::before {
  display: block;
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.carousel-indicators li.active {
  background-color: #35a22c;
}

.carousel .carousel-caption h5 {
  font-size: 50px;
}

.carousel .carousel-caption p {
  font-size: 30px;
}

/* end carousel */
/* Start product */


/* .products .text-align {
  text-align: center;
} */

.products .heading h2 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}

.products .heading p {
  color: #585858;
  line-height: 24px;
}
}

.products .item__content {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 450px;
  text-align: center;
}

.products .item__content img {
  height: 350px;
  object-fit: cover;
}

.products .item__content .title {
  padding: 20px;
  height: 100px;

  border: 2px solid #fff;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

.products .item__content:hover .title {
  color: #35a22c;
  border: 2px solid #35a22c;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-color: #fff;
}

/* End product */

/* Start feature */
.feature {
 background-image: url(./image/3.jpg);
 background-size: cover;
 background-attachment: fixed;
 padding: 100px 0 100px;
 position: relative;
}

.feature .overlay {
  background-color: rgba(7,10,12,.72); ;
}

.feature .heading {
  position: relative;
}

.feature__item {
  padding: 40px 40px;
  transition: .3s;
  border-radius: 10px;
  background: rgba(255,255,255,.1);
  border: 1px solid rgba(255,255,255,.1);
  backdrop-filter: blur(3px);
  transition: all .5s;
}

.feature__item:hover {
  background: #000;
  border-color: #fff;
}


.feature__item i {
  font-size: 45px;
  color: #35a22c;
  
}

.feature__item h4 {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  padding-top: 25px;
  font-weight: 800;
  
}

.feature__item p {
  padding-top: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
/* End feature */
/* Start award */
.award {
  padding: 70px 0;
  position: relative;
}

.award_bg {
  background-image: url(./image/memphis_3.png);
  opacity: 0.5;
  position: absolute;
  background-position: bottom left;
  background-size: 50% auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.award__left {
  background: rgba(255,255,255,.25);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  padding: 45px;
}

.award__left h2 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 700;
}
/* End award */
/* Start footer */
.footer {
  background: #222;
}

.footer__main a {
 margin-right: 10px;
}


.footer__main i {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  color: #ccc;
  border: 1px solid #ccc;
  transition: all 0.5s;
}


.footer__main i:hover {
  color: #35a22c;
  border-color: #35a22c;
}

.footer__coppy {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 2px solid #585858;
}

.footer__coppy p, .footer__coppy a {
  color: #aaa;
}

